# UniFi Controller systemd Docker Service File
# by Rogier Lommers
# Last updated December 10, 2016

# This service file assumes a Docker container is available. If not, create one with:
# docker run --name unifi-controller --net host -v /srv/services/unify:/usr/lib/unifi/data -v /srv/services/unify:/usr/lib/unifi/logs -v /srv/services/unify:/var/log/supervisor goofball222/unifi

[Unit]
Description=Unifi controller
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a unifi-controller
ExecStop=/usr/bin/docker stop -t 3 unifi-controller

[Install]
WantedBy=default.target
